@import "tailwindcss";

@theme {
  --color-theme-navy: #060771;
  --color-theme-red: #BF1A1A;
  --color-theme-orange: #FF6C0C;
  --color-theme-yellow: #FFE08F;
}

body {
  background-color: var(--color-theme-navy);
  color: #ffffff;
}
